.bg-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -5;
    background-color:#101010;
    overflow: hidden;
}
.vertical-lines{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.grid-lines-verti{
    background-color: #1E1E1E;
    width: 2px;
    height: 0%;
}
.horizontal-lines{
    z-index: -1;
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.grid-lines-hori{
    background-color: #1E1E1E;
    height: 2px;
    width: 0%;
    position: fixed;
}
video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
    object-fit: cover;
    pointer-events: none;

}
.back-vid{
    opacity: 20%;
    z-index: -10;
    }
.fore-vid{
    z-index: 999;
    opacity: 15%;
}
.vid-helper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 700;
    overflow-x  : hidden;
}