
.card-trigger{
    width: 100%;
    height: 100vh;
    position:relative;
    }
    .card-trigger *{
        
        font-family: 'TTtravels Next Bold';
        font-size: 13.33vh;
        margin: 0;
        }
        .card-content{
            margin-left: 13.02vw;
            padding-top: 26vh;
            height: 100%;
            width: 100%;
            position: fixed;
            left:0;
            bottom:-100vh
            
            }
            .topic{
                position: fixed;
                top: 50%;
                transform: translateY(-29%);
                margin-left: 13.02vw;
                left: 100vw;
            }
.love{
    position: absolute;
    top: 50%;
    transform: translateY(-29%);
}
.beyond-time{
    transform: translateY(-14%);
}