
.card-trigger{
    width: 100%;
    height: 100vh;
    }
    .card-trigger *{
        
        font-family: 'TTtravels Next Bold';
        font-size: 13.33vh;
        margin: 0;
        white-space: nowrap;
        }
        .card-content{
            margin-left: 13.02vw;
            padding-top: 26vh;
            
            position: fixed;
            left: -100vw;
            top: 0;
            
        }
        .topic{
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 13.02vw;
    left: 100vw;
}