.white-flash{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
 
}

.hero-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vh;
    align-items: center;
 }
 .alignn{
    width: 93.083vh;
 }
.hero-content p{
    margin-bottom: 0.4629vh;
}
.scroll-move-start{
    position: relative;
    height: 245.370vh;
    width: 100%;
}
.draggable-circle{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.wheel-burst{
    position: relative;
    width: 100%;
    height: 100vh;
}
.question h1 {
    position: absolute;
    top: 50vh;
    left: -50vw;
    transform: translate(0, -50%);
}