.white-flash{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
 
}
.hero-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 460px;
    font-size: 27px;
 }
.hero-content p{
    margin-bottom: 5px;
}
.scroll-move-start{
    position: relative;
    height: 100vh;
    width: 100vw;
}
.draggable-circle{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}