.white-flash{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
 
}

.hero-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vh;
    align-items: center;
    position: relative;
 }
 .hero-content h1{
    font-family: "TTtravels Next Bold";
    font-size: 21.166vh;
    text-align: center;
    margin: 0;
    margin-bottom: 3vh;
 }
 .alignn{
    width: 93.083vh;
 }
.hero-content p{
    /* margin-bottom: 0.4629vh; */
    margin: 0;
    width: 100%;
    /* color:#D3AD62; */

    text-align: center;
}
.scroll-move-start{
    position: relative;
    height: 130vh;
    width: 100%;
}
.draggable-circle{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.wheel-burst{
    position: relative;
    width: 100%;
    height: 60vh;
}
.question h1 {
    position: absolute;
    top: 50vh;
    left: -50vw;
    transform: translate(0, -50%);
}
.scrub-time-helper{
    width: 100%;
    height: 200vh;
}

