.mobile-container h1{
    font-size: 38px;
}
.mobile-container p{
    font-size: 16px;
}
.footer {
    display: flex;
    align-items: center;
    bottom: 3%;
}
.footer p{
    font-size:11px;
    white-space: nowrap;
    margin: 0 12px;
}
.footer-content img{
    width: 15px;
    height: 25px;
    margin: 0;
}

.footer-line {
    width: 30%;
    height: 1px;
}

@media  (max-width: 768px) {
    .mobile-container h1{
        font-size: 32px;
    }
    .mobile-container p{
        font-size: 13px;
    }
    .footer {
        flex-direction: column-reverse;
        bottom: 2%;
    }
    .footer p{
        font-size: 11.7px;
    }
    .footer-content img{
        width: 12px;
        height: 20px;
    }
    .footer-line {
        width: 50%;
    }
    
}
@media (max-width: 500px) {
   .mobile-container h1{
        font-size: 23px;
    }
   .mobile-container p{
        font-size: 9px;
    }
    .footer p{
        font-size: 9px;
        margin: 0;
    }
    .footer-content img{
        width: 10px;
        height: 18px;
    }
    .footer-line {
        width: 70%;
    }
    
}