
  .torus {
            position: relative;
            width: var(--radius-outer);
            height: var(--radius-outer);
            border-radius: 50%;
            background-color: black;
            z-index: 5;
            mix-blend-mode: multiply;
        }

        .alpha-mask {
            position: absolute;
        }