.circle-container {
  position: fixed;
left: -1960px;

top: -925px;

  z-index: 1000;
  transform-origin: center center;
}

.word {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 55px;
  white-space: nowrap;


}
