.word1{
    transform-origin: -38.1944vh;
    font-size: 5.0925vh;
    white-space: nowrap;
    margin-bottom: 10px;
    opacity: 0.3;
}
.word-cont{
    display: inline;
    font-family: "TTtravels Next Demibold";
    transform-origin:  0 0;
}