.circle-container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.circle-text{
    top: 50%;
    left: 50%;
position: absolute;
/* font-size: 5.095vh; */
font-family: "TTtravels Next Demibold";
text-wrap: nowrap;
white-space: nowrap;
z-index: 2;
}

