.circle-container {
  position: fixed;


left: -2005px;
  top:-970px;
  /* border: 1px solid white; */
  border-radius: 50%;
  z-index: 1000;
  transform-origin: center center;
}

.word {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 55px;
  white-space: nowrap;
  transform-origin: left right;

}
