.bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.horizontal-lines, .vertical-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grid-lines-hori {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000; /* Adjust color as needed */
}

.grid-lines-verti {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #000; /* Adjust color as needed */
}
