@font-face {
  font-family: 'Filson Pro Regular';
  src: url('../public/fonts/filson/FILSONPROREGULAR.OTF');
}
.canvas{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.webgl-canvas{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}