@font-face {
  font-family: 'Filson Pro Regular';
  src: url('../public/fonts/filson/FILSONPROREGULAR.OTF');

}
@font-face {
  font-family: 'TTtravels Next Bold';
  src: url('../public/fonts/TTtravels/TTTRAVELSNEXTBOLD.OTF');

}
@font-face {
  font-family: 'TTtravels Next Demibold Italic';
  src: url('../public/fonts/TTtravels/TTTRAVELSNEXTDBOLDI.OTF');

}
.canvas{
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 5;
  top: 0;
  left: 0;
}
.horizontal-lines-holder{
  width: 100%;
  height: 100vh;
}
.webgl-canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.foods-canvas{
  width: 100%;
  height: 100vh;
}
.loading-helper{
  position: absolute;
  z-index: 1001;
  top: 0;
  left:0 ;
  height: 100%;
  width: 100%;
}