body,html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  height: 100vh;
}

*{
   box-sizing: border-box;
     color: #F2D8A0;
  font-family: 'Filson Pro Regular';
  /* scrollbar-width: none;
  -ms-overflow-style: none; */
}
/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
} */
#root{
  width: 100%;
  height: 100%;
}
svg{
  height: 100%;
  position: absolute;
}

